<div class="banner">
  <%= image_tag "Si.png", class: "banner-image" %>
</div>

<h4 class="text-center fw-bold">
  LET'S SIMPLIFY NEWS TO YOUR JAPANESE LEVEL!
</h4>

<div class="container">
  <%= simple_form_for [@home, @article] do |f| %>

    <%= render "shared/japanese_level_root", f: f %>

    <%= f.input :original_content,
                label: "",
                placeholder: "Paste Japanese News Article text here" %>

    <%= f.submit "Simplify", class: "btn btn-primary" %>

  <% end %>
</div>
