<div class="banner">
  <%= render "shared/top_navbar" %>
  <%= image_tag "Si.png", class: "banner-image" %>
</div>

<h4 class="text-center fw-bold mt-3">
  LET'S SIMPLIFY NEWS TO YOUR JAPANESE LEVEL!
</h4>

<div class="container">
  <%= simple_form_for [@home, @article] do |f| %>

    <%= render "shared/japanese_level_root", f: f %>

    <%= f.input :original_content,
                label: "Paste your article!!",
                placeholder: "Paste Here!!",
                required: false %>

    <%= f.submit "Simplify", class: "btn btn-primary text-white" %>

  <% end %>
</div>
